{% extends 'base.html.twig' %}

{% block title %}Startups Activity Sectors{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Startups Activity Sectors</h1>

    <ul>
        {% for activity_sector in activity_sectors %}
        <li>
            <a href="{{ path('app_activity_sector_show', {id: activity_sector.id}) }}">{{ activity_sector.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
